<div class="page_info">
	<h1>Processes</h1>
	<p>
		In the list below, you see the processes monitored by God.<br />
		If the process is green, it mean it's launched. If it's in red then it's not currently being monitored.
	</p>
</div>

<% @status.each_pair do |group,processes| %>
	<div class="group">
		<h2><%= group %></h2>
		<ul>
			<% processes.each do |process| %>
				<li class="<%= process[1][:state] %>" id="<%= group %>-<%= process[0] %>">
            <span class="process"><%= process[0] %></span>
            
            <ul class="links">
                <%= process_action(process) %>
                <li><a href="/logs/<%= process[0] %>"><img src="/img/logs.png" alt="View Logs" /></a></li>
            </ul>
        </li>
			<% end %>
		</ul>
  </div>
<% end %>

<div id="automatic_update">Not automatically updated yet</div>